<div class="row">
	<div class="col s12">
		<%
			var isCategory = typeof search=="undefined";
			if(isCategory) search = category;
		%>
		<%if(isCategory){%>
			<h1>Categoria: <%=category%></h1>
		<%}else{%>
			<h1>Buscar: <%=search%></h1>
		<%}%>
		<ul class="collection">	
			<% articles.forEach(article =>{%>
                <li class="collection-item">
                    <a href="#!" onclick="apretaste.send({'command':'DIARIODECUBA HISTORIA','data':{'query':'<%=article.link%>','search':'<%=search%>', 'isCategory': '<%=isCategory%>', 'title':'<%=article.title%>'}})"><h6><b><%=article.title.toUpperCase()%></b></h6></a>
                    <%if(article.description.length!=0){%>
						<p><%=article.description %></p>
					<%}%>
					<small>
						<%=article.pubDate%>
					</small>
				</li>
			<%});%>
		</ul>
		<div class="fixed-action-btn">
			<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({'command':'DIARIODECUBA'})"><i class="material-icons">arrow_back</i></a>
		</div>
	</div>
</div>
