<div class="row">
	<div class="col s12 m6">
		<% if (img) { %>
		<img src="<%= img %>" alt="<%= imgAlt %>">
			<span class="card-title"><%= imgAlt %></span>
		<% } %>

		<h1><%= title %></h1>
	<small>
		<font color = "gray">
		<%= formatDate(article.pubDate) %>
		</font>
	</small>
		<p><%= intro %></p>
		<% content.forEach(function(paragraph){ %>
			<p><%= paragraph %></p>
		<% }); %>
		<p></p>

		<a href="<%= url %>">Ver en la web</a>
	</div>
</div>

<div class="row">
	<div class="col s3 m3">
		<button class="btn btn-default" onclick="apretaste.send({command: 'DIARIODECUBA'});">M&aacute;s noticias</button>
	</div>
	<div class="col s3 m3">
		<button class="btn btn-default" onclick="apretaste.send({command: 'PIZARRA Miren esto: <%= url %>'});">Compartir</button>
	</div>
</div>