<div class="row">
	<div class="col s12">
		<ul class="collection">	
			<% articles.forEach(function(article){ %>
				<li class="collection-item">
					<a href="#!" onclick="apretaste.send({'command':'DIARIODECUBA HISTORIA','data':{'query':'<%= article.link %>', 'title':'<%= article.title %>'}})">
						<h6><%= article.title %></h6>
					</a>

					<% if(article.description.length != 0){ %>
						<p><%= article.description %></p>
					<%}%>

					<small>
						<%= article.pubDate %>
						<% if(article.author!=""){ %>
							&bull; <i><%= article.author %></i>
						<% } %>

						<br>

						<% article.category.forEach(function(category){ %>
							<div class="chip small">
								<a href="#!" class="grey-text text-darken-3" onclick="apretaste.send({'command':'DIARIODECUBA CATEGORIA','data':{'query':'<%= category.link %>', 'caption':'<%= category.caption %>'}})"><%= category.caption %></a>
							</div>
						<% }) %>
					</small>
				</li>
			<% }) %>
		</ul>
	</div>

	<div class="fixed-action-btn">
		<a href="#searchModal" class="btn-floating btn-large waves-effect waves-light modal-trigger">
			<i class="large material-icons">search</i>
		</a>
	</div>

	<div id="searchModal" class="modal bottom-sheet">
		<div class="modal-content">
			<div class="input-field">
				<textarea id="query" class="materialize-textarea"></textarea>
				<label for="note">Buscar</label>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
			<a href="#!" onclick="sendSearch()" class="modal-close waves-effect waves-green btn-flat">Buscar</a>
		</div>
	</div>
</div>