<div class="input-field col s12">
    <select id="categories">
        <option value="" <%= selectedCategory == "" ? "selected" : "" %>>Todo</option>
        <% categories.forEach(function (category) { %>
            <option value="<%= category.id %>" <%= selectedCategory == category.id ? "selected" : "" %>><%= category.name %></option>
        <% }) %>
    </select>
</div>

<div class="col s12">
    <% articles.forEach(function (article) { %>
        <div class="card horizontal" onclick="apretaste.send({'command': 'DDC HISTORIA', 'data':{'id': '<%= article.id %>'}})">
            <div class="card-image">
                <%
                    var src = "{{APP_IMAGE_PATH}}/" + article.image;
                    if (article.image == "no-image.png") src = "{{APP_SERVICE_PATH}}/images/no-image.png"
                %>

                <img src="<%= src %>">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <span><%= article.title %></span><br>
                    <small>
                        <i class="material-icons tiny">calendar_today</i> <%= article.pubDate %> &nbsp;
                        <i class="material-icons tiny">person</i> <%= article.author %> &nbsp;
                        <i class="material-icons tiny">comment</i> <%= article.comments %>
                    </small><br>
                    <small><%= article.description %></small><br>
                    <span>
                        <% article.tags.forEach(function (tag) { %>
                        <% if(tag.length < 10){ %>
                            <div class="chip small"><%= tag %></div> <!-- onclick="apretaste.send({'command':'DDC TAG', 'data': {'tag': '<%= tag %>'}})" -->
                        <% } %>
                        <% }) %>
                    </span>
                </div>
            </div>
        </div>
    <% }) %>
</div>
