<div class="row">
	<div class="col s12" id="article">
		<h1><%= title %></h1>

		<% if(img != ""){ %>
			<div class="center-align">	
				<img class="responsive-img" src="{{APP_IMAGE_PATH}}/<%= img %>" alt="<%= imgAlt %>">
			</div>
		<% } %>

		<small>
			<blockquote>
				<p><i><%= intro %></i></p>
			</blockquote>
		</small>

		<section>
			<% content.forEach(function(paragraph){ %>
				<p style="text-align:left;"><%= paragraph %></p>
			<% }) %>
		</section>

		<div class="fixed-action-btn">
			<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({'command':'DIARIODECUBA'})"><i class="material-icons">arrow_back</i></a>
		</div>
	</div>
</div>
