<div class="col s12" id="articles">
    <% articles.forEach(function (article) { %>
        <%
            var src = "{{APP_IMAGE_PATH}}/" + article.image;
            if (article.image == "no-image.png") src = "{{APP_SERVICE_PATH}}/images/no-image.png"
        %>

        <div class="article" onclick="apretaste.send({'command': 'DDC HISTORIA', 'data':{'id': '<%= article.id %>'}})">
            <img src="<%= src %>" alt="articleImg" class="responsive-img">
            <h5><%= article.title %></h5>
            <p class="article-info"><%= article.author %> | <%= article.location %></p>
            <p class="article-description"><%= article.description %></p>
        </div>
    <% }) %>
</div>
