<div class="col s12 article">
    <h5><%= title %></h5>
    <p class="article-info"><%= author %> | <%= location %></p>
    <p class="article-description"><%= description %></p>
    <img src="<%= src %>" alt="articleImg" class="responsive-img">
    <span class="grey-ddc"> <%= imageCaption %> </span>

    <section>
        <% content.split("\\n\\n").forEach(function(paragraph){ %>
            <p><%= paragraph %></p>
        <% }) %>
    </section>
</div>