<div class="col s12 article">
    <h4><%= title %></h4>
    <p class="article-info"><%= author %> | <%= artLocation %></p>
    <p class="article-description"><%= description %></p>
    <% if(image != ""){ %>
        <img src="{{APP_IMAGE_PATH}}<%= image %>" alt="articleImg" class="responsive-img">
        <figcaption><%= imageCaption %></figcaption>
    <% } %>

    <section>
        <% content.split("\\n\\n").forEach(function(paragraph){ %>
            <p><%= paragraph %></p>
        <% }) %>
    </section>
</div>