<div class="row">
	<div class="col s12" id="article">
		<h1><%= title %></h1>

		<% if(img != ""){ %>
			<div class="center-align">	
				<img class="responsive-img" src="{{APP_IMAGE_PATH}}<%= img %>" alt="<%= imgAlt %>">
			</div>
		<% } %>

		<small>
			<blockquote>
				<p><i><%= intro %></i></p>
			</blockquote>
		</small>

		<section>
			<% for(var i=0; i<content.length; i++) { %>
				<p style="text-align:left;"><%= content[i] %></p>
			<% } %>
		</section>

		<div class="fixed-action-btn hide-on-share">
			<a class="btn-floating btn-large waves-effect waves-light" href="#!" onclick="apretaste.send({'command':'DIARIODECUBA'})"><i class="material-icons">arrow_back</i></a>
		</div>
	</div>
</div>
