<div class="col s12" id="articles">
    <% articles.forEach(function (article) { %>
        <%
            var src = "{{APP_IMAGE_PATH}}/" + article.image;
            if (article.image == "no-image.png") src = "{{APP_SERVICE_PATH}}/images/no-image.png"
        %>

        <div class="article" onclick="apretaste.send({'command': 'DDC HISTORIA', 'data':{'id': '<%= article.id %>'}})">
            <div class="center-align">
                <img src="<%= src %>" alt="articleImg" class="responsive-img">
            </div>
            <h4><%= article.title %></h4>
            <span class="grey-ddc"><%= article.author %> | <%= article.location %></span>
            <p><%= article.description %></p>
        </div>
    <% }) %>
</div>
